<!-- Set up this link into each page .ejs file that we create, so we don't have to keep typing this out each time. anytime we want to add a linked file to the project we can add it here and it will be included in all pages
-->

<!-- Meta Information -->
<title>Okee-Dok-Eats</title>

<meta charset="UTF-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, initial-scale=1.0" >

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

<!-- External/VENDOR CSS -->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
<link rel="stylesheet" href="/vendor/border-box.css" />

<!-- APP CSS -->
<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/layout.css" />

<!-- FONT AWESOME -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- EXTERNAL/VENDOR JS -->
<script src="/vendor/jquery-3.0.0.js"></script>

<!-- APP JS -->
<script defer src="/scripts/app.js"></script>
