<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/_headData') %>
 <link rel="stylesheet" href="styles/customer.css">
</head>
<body>
  <header>
    <!-- for example -->
    <div class="login">Logged in As Hungry Bill </div>
    <div class="cart">Cart</div>
    <i class="fa-solid fa-cart-shopping"></i>
    </header>
  <main>
<!-- search bar route will need to be updated in future-->
<section id="search">
  <form class="searchbar" action="/restaurants" method="GET" title="Restaurant Search">
    <input type="text"
    name="restaurant-search"
    id="restaurant-search"
    placeholder="Search Restaurants">
    <button class="fa fa-search" type="submit"></button>
  </form>
  <img src="https://raw.githubusercontent.com/Sszyh/Okee-Dok-Eats/master/images/okeedokeats.png" alt="Onion ring giving thumbs up" alt="onion ring man">
</section>
<section id="restaurant-listing">
  <!-- These all need to be rendered as buttons? -->
  <ul>
    <li>Restaurant A</li>
    <li>Restaurant B</li>
    <li>Restaurant C</li>
    <li>Restaurant D</li>
  </ul>
</section>
</main>

<footer>
</footer>

</body>
</html>
