<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_headData') %>
  <link rel="stylesheet" href="/styles/index.css" />
</head>


<nav class="nav-bar">
  <h1 class="nav-left">Okee-Dok-Eats</h1>
  <div class="nav-right">
    <% if(users){ %>
      <!--  logout "get" should be "post" -->
      <form action="/logout" method="GET">
        <label for="logout">Logged In As: <%= users.id %></label>
        <button class="nav-buttons" type="submit">Logout</button>
      </form>
    <% } else{ %>
    <button type="signup" class="nav-buttons">Sign Up</button>
    <form action="/login/user2" method="GET">
      <button id="login" type="login" class="nav-buttons">Login</button>
    </form>
  <% } %>
  </div>
</nav>


<body>
  <div class="main-form">
    <h3>Get food from your local faves today!</h3>
    <div class="form-buttons">
      <!-- added form tag here to use the already created route -->
      <form action="../customer" method="GET">
        <button type="submit" id="order-now">Order Now!</button>
      </form>
      <button type="submit" id="or-not"> Or not...</button>
    </div>
  </div>
</body>

<footer>
  <img src="https://raw.githubusercontent.com/Sszyh/Okee-Dok-Eats/master/images/okeedokeats.png" alt="Onion ring giving thumbs up"/>
</footer>
</html>
