<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_headData.ejs') %>
    <script type="module" defer src="/scripts/list-menu-items.js"></script>
    <script type="module" defer src="/scripts/cart-builder.js" ></script>
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/cart.css">
  </head>

  <header>
    <div class="login">Logged in as <%= users.id %></div>
    <div class="cart">Cart
    <i class="fa-solid fa-cart-shopping"></i>
    <!-- insert Jquery to update cart -->
    <div class="cart-quantity">0</div>
    </div>
  </header>

  <body>
    <h1 class="restaurant-name"><%= restaurant %> </h1>
    <div class="item-list">
      <!-- insert from jquery -->

    </div>
  </body>

  <footer>
    <img src="https://github.com/Sszyh/Okee-Dok-Eats/blob/master/images/okeedokeats.png?raw=true" alt="onion ring giving a thumbs up">
    <form action="/cart" method="GET">
      <button type="submit" id="view-order-btn">View Order</button>
    </form>
    <button type="submit" id="clear-cart">I'm actually not that hungry...</button>
  </footer>



</html>
