<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_headData.ejs') %>
    <script type="module" defer src="/scripts/list-menu-items.js"></script>
    <script type="module" defer src="/scripts/cart-builder.js" ></script>
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/cart.css">
  </head>

  <header>
    <div class="login">Logged in as <%= users.id %></div>
    <div class="cart">Cart
    <i class="fa-solid fa-cart-shopping"></i>
    <div class="cart-quantity">0</div>
    </div>
  </header>

  <body>
    <h1 class="restaurant-name"><%= restaurant %> </h1>
    <div class="item-list">
      <!-- insert from jquery -->

    </div>

    <!-- Modal attempt-->
    <div class="modal">
      <div class="modal-content">
          <span class="close-button">&times;</span>
          <h1>Hello, I am a modal!</h1>

          <article id="cart-modal">
            <form id="cart" name="orderItems" action="" method="POST">
              <table class="cart-items">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody id="cart-rows">
        <!-- insert here -->
                </tbody>
              </table>
              <p id="subtotal">Sub Total (before tax): <span id="sub-total"></span></p>
              <p>Estimated time: <span id="total-time"></span></p>

              <ul id="cart-actions">
                <li>
                  <input type="submit" class="button" name="order-items" value="Place Order" />
                </li>
              </ul>
            </form>
          </article>


      </div>
  </div>

  </body>

  <footer>
    <img src="https://github.com/Sszyh/Okee-Dok-Eats/blob/master/images/okeedokeats.png?raw=true" alt="onion ring giving a thumbs up">
    <!-- <form action="/cart" method="GET"> -->
      <button type="submit" class="trigger" id="view-order-btn">View Order</button>
    </form>
    <button type="submit" id="clear-cart">I'm actually not that hungry...</button>
  </footer>



</html>
