<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_headData.ejs') %>
    <link rel="stylesheet" href="/styles/restaurant.css" />
    <script type="text/javascript" defer src="/scripts/restaurant-view.js"></script>
</head>

<body>
  <main>
    <header>
      <span>
        <div>Logged In As: <%= restaurant %>
        </div>
      </span>
      <span class="">
        <button class="">Past Orders</button>
      </span>
    </header>

    <h2>
      Restaurant Dashboard
    </h2>
    <section>
      <p>Order In Process</p>
      <article class="list-border">

          <div class="order-list"></div>

      </article>

    </section>
    <div>
      <div class="table-name">Order item</div>


      <div class="order-item">item 3,
        item1,
        item2, time placed
      </div>
    </div>
  </main>


</body>

</html>
