<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_headData.ejs') %>
    <link rel="stylesheet" href="/styles/restaurant.css" />
    <script type="module" defer src="/scripts/restaurant-view.js"></script>
  </head>

<body>
  <main>
    <header>
      <span>
        <div>Logged In As: <%= restaurant.name %>
        </div>
      </span>
      <span class="">
        <button >Past Orders</button>
      </span>
    </header>

    <h2>
      Restaurant Dashboard
    </h2>

    <section>
      <p>Order In Process</p>
      <article class="list-border">
        <div class="order-list"></div>
      </article>

    </section>

    <div class="order-item-box">
      <div class="order-information"></div>
      <div class="item-list"></div>
    </div>

  </main>


</body>

<footer>
  <img src="https://github.com/Sszyh/Okee-Dok-Eats/blob/master/images/winking.gif?raw=true" alt="onion ring giving a thumbs up and winking">
</footer>
</html>
