//colors
$primaryBGcolor: #1dfdcb; //current
$accentOrange: #f9a44c;
$shadowOrange: #e79642;
$accentYellow:#fdcb1d;
$accentPurple: #A085C8;

//fonts
$primaryFont: 'Amatic SC', sans-serif;
// $secondaryFont: need to chose?

//mixins can be set up what we like I would suggest flexCenter as an option?

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexOptions($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
