@import './constant';

.login {
  margin: 2em 42em 0 0;
  font-size: 0.8em;
}


section#restaurant-container {

  @include flexOptions(space-evenly, center);

  ul {
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    padding: 0;
    font-size: 1.5rem;

    li {
      padding: 2rem;
    }
  }

  #restaurant-link {
      padding: 15px 15px 15px 15px;
      border-radius: .5em;
      background-color: $accentOrange;
      font-size: 1em;
      &:hover {background-color: $shadowOrange}

      &:active {
        background-color: $shadowOrange;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
  }
}

header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;

  div.cart {
    margin-left: auto;
    padding-right: 1rem;
  }

  i {
    align-self: center;
    height: auto;
  }

}

main {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#restaurant-title {
  font-family: $primaryFont;
  font-size: 3em;
  margin-bottom: 0em;
}
section.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;

  form.searchbar {

    button {
      height: 100%;
      border-radius: 15%;
      color: $accentOrange;
      background-color: #9d0fa7c7;

      &:hover {background-color: #880f91c7}

      &:active {
        background-color: $shadowOrange;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

    }
  }

  img {
    padding: 3.5rem;
    position: relative;
    animation: mymove 12s infinite;
    animation-timing-function: ease-in-out;

    @keyframes mymove {
      0% {transform: rotate(0deg)}
      33%{transform: rotate(20deg)}
      66% {transform: rotate(-20deg)}
      100% {transform: rotate(0deg)}
    }
  }
}
