@import "./constant";

header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: 1.5em;
  padding-top: 3em;
}

.restaurant-name {
  font-size: 6em;
  font-family: $primaryFont;
}

.item-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  align-items: center;
  background-color: #fdcb1d9e;
  padding: 1em 1em 2em 1em;
  border-radius: 0.5em;

  .table-left{

    width: 70%;

    h3 {
      font-size: 1.5em;
    }

    #description {
      font-size: 1em;
      padding-bottom: 1em;
    }
  }

  img {
    width: 15em;
    padding-bottom: 1em;
  }

  .table-right {
    display: flex;
    justify-content: space-between;
    width: 13em;

    #quantity {
      width: 1.5em;
    }

    #add-to-cart {
      height: 1.5em;
      background-color: $accentPurple;
      border-radius: .5em;
      width: 6em;
      font-size: 1em;
    }
  }

}

footer {
  display: flex;
  justify-content: space-between;
  width: 80%;

  img {
    height: 20em;
  }

  #place-order-btn {
    margin-right: 15em;
    margin-top: 3em;
    height: 3.5em;
    background-color: $accentPurple;
    border-radius: .5em;
    width: 6em;
    font-size: 1em;
  }
}
