@import './constant';

main {
  width: 85%;
  margin: auto;
  display: flex;
  font-size: 1.75rem;
  padding-top: 3em;
  padding-bottom: 1.6em;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  font-size: 1em;
}

h2 {
  text-align: center;
  font-family: $primaryFont;
  font-size: 2.2em;
  margin-bottom: 0.2em;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

button {
  height: 100%;
  border-radius: 0.25em;
  background-color: $accentOrange;
}

.order-information {
  width: 90%;
  justify-content: center;
  text-align: center;
  margin: auto;
}

article {
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid black;
}

li {
  border-bottom: 1px solid black;
  padding-top: 0.5em;

}

.order-list {
  margin: auto;
  padding: 1em;
}

ul {
  margin: auto;

}

.item-list {
  width: 80%;
  margin-top: 0.5em;
  border-top: solid black;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 0.5em;
}

.order-item-box {
  display: none;
  border-radius: 5px;
  border: 1.5px solid black;
  width: 60%;
  margin: auto;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em
}

