@import './constant';

main {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.75rem
}

header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $primaryFont;
  align-self: center;
  font-size: 1.5em;
}

h2 {
  text-align: center;
  font-family: $primaryFont;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

button {
  height: 100%;
  border-radius: 15%;
  color: $accentPurple;
  background-color: $primaryBGcolor;
}

.order-item {
  width: 60%;
  background-color: #f4f1ec;
  border-radius: 5px;
  border: 1.5px solid black;
  justify-content: center;
  text-align: center;
  margin: auto;
}

article {
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid black;
}

li {
  font-family: $primaryFont;
  border-bottom: 1px solid black;
  padding-top: 0.5em;
}

.order-list {
  margin: auto;
  padding: 1em;
}

ul {
  margin: auto;

}
